.player {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.player--time-control {
    width: 100%;
    display: flex;     
    align-items: center;
    input {
        width: 100%;
        -webkit-appearance: none;
        background: transparent;
        cursor: pointer;
      }
      p {
        padding: 1rem;
      }
}

.player--controllers {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0 ;
    svg {
        cursor: pointer;
     }
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-apperance: none;
    height: 16px;
    width: 16px;
}

input[type='range']::-moz-range-thumb {
    -webkit-apperance: none;
    background: transparent;
    border: none;
}

.track {
    background: lightblue;
    width: 100%;
     height: 1rem;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.animate-track {
    background-color: rgb(204, 204, 204);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0%);
    pointer-events: none;
}

@media screen and (max-width: 1200px) {
    .player--controllers {
        svg {
            font-size: 1.5rem;
         }
    }
    
}


@media screen and (max-width: 800px) and (orientation: landscape) { 
    .player--controllers {
        padding:  0 ;
        svg {
            cursor: pointer;
            font-size: 1.5rem;
         }
    }
}
